body {
    background-color: #f8f9fa;
    /* background-color: #E01A22; */
}

h1 {
    color: #343a40;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.95rem;
}


.card-img-top {
    height: 300px;
    object-fit: cover;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

a.text-decoration-none {
    color: inherit;
}

a.text-decoration-none .card {
    cursor: pointer;
}

.btn-custom-white {
    background-color: white;
    color: #343a40; 
    border: 0px;
    transition: all 0.2s ease-in-out;
}


.btn-custom-white:hover {
    background-color: #f0f0f0;
    color: #343a40; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.btn-custom-white.active {
    /* background-color: #e0e0e0;  */
    background-color: #E01A22;
    color: white;
}

.btn-group {
    margin: 0;
}

@media (max-width: 768px) {
    .btn-custom-white, .btn-secondary {
        width: 100%;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.floating-image {
    width: 150px;
    animation: float 3s ease-in-out infinite;
}

.pagination > .active > span {
    color: white;
    background-color: #E01A22;
    border-color: #E01A22
}

.pagination a {
    color: #343a40;
}