/* static/styles.css */

body {
    background-color: #f8f9fa;
    /* background-color: #E01A22; */
}

h1 {
    color: #343a40;
}

/* Ensure card titles have consistent styling */
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Adjust card text styling */
.card-text {
    font-size: 0.95rem;
}


/* Styling for images within cards */
.card-img-top {
    height: 300px;
    object-fit: cover;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    transition: transform 0.2s ease-in-out;
}

.card-img-top:hover {
    /* transform: scale(1.05); */
}

/* Hover effect for the entire card */
.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Ensure the entire card area removes underline from the link */
a.text-decoration-none {
    color: inherit; /* Inherit text color */
}

/* Optionally, change cursor to pointer when hovering over the entire card */
a.text-decoration-none .card {
    cursor: pointer;
}

.btn-custom-white {
    background-color: white;
    color: #343a40; /* Change text color to any color you like */
    border: 0px;
    transition: all 0.2s ease-in-out;
}

/* Hover effect: slightly darken the white and add shadow */
.btn-custom-white:hover {
    background-color: #f0f0f0; /* Slightly darker white */
    color: #343a40; /* Darken text on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Active state: more distinct color */
.btn-custom-white.active {
    background-color: #e0e0e0; /* Even darker for active */
    color: white;
}

/* Remove spacing between buttons */
.btn-group {
    margin: 0;
}

@media (max-width: 768px) {
    .btn-custom-white, .btn-secondary {
        width: 100%;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.floating-image {
    width: 150px; /* Adjust the size of the PNG */
    animation: float 3s ease-in-out infinite; /* 4s duration, easing, infinite loop */
}