.no-transition {
    transition: none !important;
}

:root {
    --bg-color: #f8f9fa;
    --card-bg: #ffffff;

    --text-color: #343a40;
    --card-text-color: #343a40;

    --btn-custom-white-bg: #ffffff;
    --btn-custom-white-text: #343a40;
    --btn-custom-red-bg: #E01A22;
    --btn-custom-red-text: #ffffff;

    --pagination-active-bg: #E01A22;
    --pagination-active-text: #ffffff;
    --pagination-link-bg: #ffffff;
    --pagination-disabled-bg: #e9ecef;
    --pagination-hover-bg: #f8f9fa;

    --toggle-bg: #ffffff;
    --toggle-color: #343a40;

    --footer-color: #ffffff
}

.dark-mode {
    --bg-color: #121212;
    --card-bg: #1e1e1e;

    --text-color: #e0e0e0;
    --card-text-color: #e0e0e0;

    --btn-custom-white-bg: #1e1e1e;
    --btn-custom-white-text: #e0e0e0;
    --btn-custom-red-text: #e0e0e0;

    --active-state-bg: #252529;

    --pagination-active-bg: #E01A22;
    --pagination-active-text: #e0e0e0;
    --pagination-link-bg: #1e1e1e;
    --pagination-disabled-bg: #3b3b3f;
    --pagination-hover-bg: #252529;

    --toggle-bg: #343a40;
    --toggle-color: #e0e0e0;

    --footer-color: #000;

    --bs-secondary-color: #b0b3b8 !important;
}

.dark-mode .text-muted {
    color: #b0b3b8 !important;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

h1,
h6 {
    color: var(--text-color);
}

.card {
    background-color: var(--card-bg) !important;
    color: var(--card-text-color) !important;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--card-text-color);
}

.card-text {
    font-size: 1rem;
    color: var(--card-text-color);
}

.price-text {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--card-text-color);
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fly {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(100px, -100px) rotate(45deg);
    }

    50% {
        transform: translate(-100px, -50px) rotate(-90deg);
    }

    75% {
        transform: translate(50px, 100px) rotate(180deg);
    }
}

#cardsContainer.crazy-mode .card {
    animation: fly 3s infinite ease-in-out;
    position: relative;
    z-index: 20;
}

#cardsContainer.crazy-mode .col-lg-4:nth-child(3n) .card {
    animation-delay: -1s;
}

#cardsContainer.crazy-mode .col-lg-4:nth-child(3n+1) .card {
    animation-delay: -2s;
}

#cardsContainer.crazy-mode .card:hover {
    animation-play-state: paused;
}

.crazy-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 80px;
    background-color: var(--card-bg);
    color: var(--toggle-color);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    z-index: 1000;
}

.crazy-mode-toggle:hover {
    transform: scale(1.1);
}

.crazy-mode-toggle.active {
    background-color: var(--btn-custom-red-bg);
    color: var(--btn-custom-red-text);
}

a.text-decoration-none {
    color: inherit;
}

a.text-decoration-none .card {
    cursor: pointer;
}

.btn-custom-white {
    background-color: var(--btn-custom-white-bg);
    color: var(--btn-custom-white-text);
    border: 0px;
    transition: all 0.2s ease-in-out;
}

.btn-custom-red {
    background-color: var(--btn-custom-red-bg);
    color: var(--btn-custom-red-text);
    border: 0px;
    transition: all 0.2s ease-in-out;
}

.btn-outline-secondary {
    background-color: var(--btn-custom-white-bg);
    color: var(--btn-custom-white-text);
    border: 0px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-custom-red:hover {
    background-color: var(--btn-custom-red-bg);
    color: var(--btn-custom-red-text);
}

.btn-custom-white:hover {
    background-color: var(--pagination-hover-bg);
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-outline-secondary:hover {
    background-color: var(--pagination-hover-bg);
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-custom-white.active {
    background-color: var(--btn-custom-red-bg);
    color: var(--btn-custom-red-text);
}

.btn-group.gap-1 {
    gap: 2px;
}

@media (max-width: 768px) {

    .btn-custom-white,
    .btn-secondary {
        width: 100%;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.floating-image {
    width: 150px;
    animation: float 3s ease-in-out infinite;
}

.form-control::placeholder {
    border: 0px;
    background-color: var(--card-bg);
    color: var(--card-text-color);
    transition: background-color 0.3s, color 0.3s;
}

.form-control:focus {
    border: 0px;
    background-color: var(--card-bg);
    color: var(--card-text-color);
}

.form-control {
    border: 0px;
    background-color: var(--card-bg);
    color: var(--card-text-color);
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-link {
    color: var(--text-color) !important;
    background-color: var(--pagination-link-bg) !important;
    border: none !important;
    margin: 0 2px;
    border-radius: 4px;
}

.pagination .page-link:focus {
    box-shadow: none;
}

.pagination .page-link:hover {
    background-color: var(--pagination-hover-bg) !important;
}

.pagination>.active>.page-link {
    background-color: var(--pagination-active-bg) !important;
    color: var(--pagination-active-text) !important;
    border: none !important;
}

.pagination>.disabled>.page-link {
    background-color: var(--pagination-disabled-bg) !important;
    color: var(--text-color) !important;
    border: none !important;
}

#darkModeToggle {
    background-color: var(--card-bg);
    fill: var(--card-text-color);
}

.pagination .page-item {
    --bs-pagination-border-width: 0px;
}

.noscript-banner {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffc107;
    color: #000;
    padding: 15px;
    text-align: center;
    z-index: 1050;
    text-decoration: none;
}

.noscript-banner .close {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.top-banner {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1040;
}

.alert-dismissible .btn-close {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--card-bg);
    color: var(--toggle-color);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    z-index: 1000;
}

.dark-mode-toggle:hover {
    transform: scale(1.1);
}

.dark-mode .dark-mode-toggle {
    background-color: var(--btn-custom-red-bg);
    color: var(--btn-custom-red-text);
}

.dark-mode-toggle i {
    color: inherit;
}

.dark-mode-toggle .sun,
.dark-mode-toggle .moon {
    width: 35px;
    height: 35px;
    display: none;
    transition: opacity 0.3s;
}

.dark-mode.dark-mode-toggle .moon {
    display: block;
}

.dark-mode-toggle .sun {
    display: block;
}

.dark-mode.dark-mode-toggle .moon {
    opacity: 1;
}

.dark-mode-toggle .sun {
    opacity: 1;
}

body,
.card,
.btn-custom-white,
.btn-custom-red,
.dark-mode-toggle {
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    -webkit-tap-highlight-color: transparent;
}

.dark-mode .item-container {
    -webkit-tap-highlight-color: transparent;
}

.dark-mode .card:active {
    background-color: var(--active-state-bg) !important;
}

.card {
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s !important;
}

/* Modal Styles */
.modal-content {
    background-color: var(--card-bg);
    color: var(--card-text-color);
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.modal-body {
    font-size: 1rem;
}

.modal-body .form-label {
    font-size: 1rem;
    font-weight: normal;
}

.modal-footer .btn {
    font-size: 1rem;
}

.dropdown-menu {
    background-color: var(--card-bg);
    border: none;
}

.dropdown-item {
    color: var(--card-text-color);
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: var(--pagination-hover-bg);
    color: var(--card-text-color);
}

.dropdown-item.active {
    background-color: var(--btn-custom-red-bg);
    color: var(--btn-custom-red-text);
}