<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uh oh</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 100px;
        }
        .container {
            display: inline-block;
            padding: 20px;
            border-radius: 10px;
        }
        h1 {
            font-size: 48px;
            margin-bottom: 10px;
        }
        p {
            font-size: 18px;
        }
    </style>
    <script>
        window.onload = function() {
            var remaining = {{ remaining }};
            function updateCountdown() {
                if (remaining > 0) {
                    remaining--;
                    document.getElementById("countdown").innerText = remaining;
                }
            }
            setInterval(updateCountdown, 1000);
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Congratulations!</h1>
        <p>You've been placed in 404 jail. You'll be free in <span id="countdown">{{ remaining }}</span> seconds.</p>
    </div>
</body>
</html>
