{% extends "base.html" %}

{% block content %}
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h4>{{ item_brand }} {{ item_name }}</h4>
            <p class="card-text">
                <strong>Item ID:</strong> {{ item_id }}<br>
                <strong>Lowest Price:</strong> ${{ lowest_price | round(2) }}<br>
                <strong>Highest Price:</strong> ${{ highest_price | round(2) }}<br>
                <strong>Percentage Change (Low to High):</strong> 
                {% if percentage_change_extremes != "N/A" %}
                    <span class="badge bg-success">+{{ percentage_change_extremes | round(2) }}%</span>
                {% else %}
                    N/A
                {% endif %}
                <br>
                <strong>Latest Price Before:</strong> ${{ latest_price_before | round(2) }}<br>
                <strong>Latest Price After:</strong> ${{ latest_price_after | round(2) }}<br>
                <strong>Latest Percentage Change:</strong> 
                ${{ change | round(2) }} 
                <span class="badge bg-success">+{{ percentage_change_latest | round(2) }}%</span>
                <br>
                <strong>Total Price Changes:</strong> {{ total_price_changes }}<br>
            </p>
            <div class="d-flex justify-content-start mt-3">
                <button onclick="window.goBack()" class="btn btn-secondary me-2">
                    <i class="fas fa-arrow-left"></i> Back
                </button>
                <a href="{{ item_url }}" class="btn btn-custom-red" target="_blank">
                    <i class="fas fa-external-link-alt"></i> View on Coles
                </a>
            </div>
            <canvas id="priceHistoryChart" class="mt-4" height="100"></canvas>
        </div>
    </div>
{% endblock %}
